doctype
html
    head
        title Ejemplo
        link(rel="stylesheet" href="styles.css")

    body
        // ===============================================
        // Start
        p.title.
            Este es un iframe, debe ser rojo y grande,
            los estilos vienen de SASS.
        p#subtitle.
            Este es un subtítulo, debe ser rosa,
            el estilo debe venir de TS.
        // END
        // ===============================================

        script(src="script.js")

